<ul>
    <li class="main-menu"><a routerLink="/content">我的订阅</a></li>
    <li class="main-menu"><a routerLink="/content">全部直播</a></li>
    <li class="main-menu"><a routerLink="/sort">全部分类</a></li>
    <li class="main-menu">
        <a routerLink="/wang">网游竞技</a>
        <ul class="sm-menu clear">
            <li><a href="#">英雄联盟</a></li>
            <li><a href="#">穿越火线</a></li>
            <li><a href="#">DNF</a></li>
            <li><a href="#">魔兽DOTA</a></li>
            <li><a href="#">炉石传说</a></li>
            <li><a href="#">坦克世界</a></li>
            <li><a href="#">问道</a></li>
            <li><a href="#">CS:GO</a></li>
            <li><a href="#">起凡</a></li>
            <li><a href="#">枪火游侠</a></li>
        </ul>
    </li>
    <li class="main-menu">
        <a routerLink="/sigl">单机热游</a>
        <ul class="sm-menu clear">
            <li><a href="#">主机游戏</a></li>
            <li><a href="#">我的世界</a></li>
            <li><a href="#">Rust</a></li>
            <li><a href="#">方舟</a></li>
            <li><a href="#">堡垒之夜</a></li>
            <li><a href="#">绝地求生</a></li>
            <li><a href="#">饥荒</a></li>
            <li><a href="#">经典怀旧</a></li>
            <li><a href="#">全部</a></li>
        </ul>
    </li>
    <li class="main-menu">
        <a routerLink="/yule">娱乐天地</a>
        <ul class="sm-menu clear">
            <li><a href="#">星秀</a></li>
            <li><a href="#">酷玩</a></li>
            <li><a href="#">户外</a></li>
            <li><a href="#">颜值</a></li>
            <li><a href="#">美食</a></li>
            <li><a href="#">二次元</a></li>
            <li><a href="#">奇谈</a></li>
            <li><a href="#">吃喝玩乐</a></li>
            <li><a href="#">全部</a></li>
        </ul>
    </li>
    <li class="main-menu">
        <a routerLink="/shou">手游休闲</a>
        <ul class="sm-menu clear">
            <li><a href="#">王者荣耀</a></li>
            <li><a href="#">球球大作战</a></li>
            <li><a href="#">CF手游</a></li>
            <li><a href="#">本周新游</a></li>
            <li><a href="#">综合手游</a></li>
            <li><a href="#">狼人杀转钱</a></li>
            <li><a href="#">棋牌休闲</a></li>
            <li><a href="#">卡牌手游</a></li>
            <li><a href="#">迷你世界</a></li>
            <li><a href="#">天龙八部</a></li>
            <li><a href="#">火影忍者</a></li>
            <li><a href="#">全部</a></li>
        </ul>
    </li>
    <li style="text-align:center;margin-top:25px;margin-bottom:100px;">
        <img src="assets/image/left.jpg" alt="">
    </li>
    <li style="position:fixed;bottom:0;background-color:#000">
        <a href="#" class="btn">虎牙App</a>
        <a href="#" class="btn">成为主播</a>
    </li>
    <li style="text-align:center;margin-top:15px;font-size:13px;"><a href="#">12318举报</a></li>
</ul>

