<div class="main-content">
    <div class="content-start">
        <h2 class="title">全部分类</h2>
        <ul class="again-sort clear">
            <li><a href="#">全部</a></li>
            <li><a href="#">网游竞技</a></li>
            <li><a href="#">单机热游</a></li>
            <li><a href="#">娱乐天地</a></li>
            <li><a href="#">手游休闲</a></li>
        </ul>
    </div>
    <ul class="games clear">
        <li *ngFor="let tmp of game">
            <img src={{tmp.imgUrl}} alt="">
            <span>{{tmp.imgName}}</span>
         </li> 
    </ul>
</div>